<div class=container>
    <div class="bg-primary"></div>
    <ul class="list-group" *ngFor="let proc in listProcess">
        <li class="list-group-item list-group-item-primary">
            <input class="form-check-input me-1" type="checkbox">
        </li>
    </ul>
</div>

<!-- 

  <div class="form-check">
    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
    <label class="form-check-label" for="flexCheckDefault">
      Default checkbox
    </label>
  </div> -->
-->

<!-- <form>
  <div *ngFor="let prod of listProcess">
     <input type="checkbox">  {{proc.Process_name}}
  </div>
</form> -->